@import 'tailwindcss';

@theme {
    --color-gold: #f4c550;
    --color-gold-muted: #fbe9ba;
    --color-green: #9fbaae;
    --color-green-muted: #cbded3;
    --color-blue: #9fb7ce;
    --color-blue-muted: #bfd6ea;
    --color-red: #e0a39a;
    --color-red-muited: #f2c0bd;
    --color-orange: #f0aa8d;
    --color-orange-muted: #f4c8ba;
    --color-black: #121417;
    --color-white: #ffffff;
    --color-background: #f8f8f8;

    --spacing-main-page-cta: 45rem;
    --spacing-screen-limiter: 90rem;
    --spacing-btn-lg:27.375rem;
    --spacing-btn-md:17.25rem;
    --spacing-btn-sm:11.438rem;
    --spacing-btn-register:10.375rem;


}
